<% var
pageTitle = "盆LT";
pageId = "bon";
pageUrl = "bon.html";
pageDescription = "大LTまつりはライトニングトーク大会である";
%>
<% include _header %>

  <header class="l-hero l-section bgcolor">
    <div class="l-container">
      <h1>盆LT</h1>
      <h2>大LTまつり#2  @Tokyo</h2>
      <p>2015/08/15 Sat. 15:00-18:00</p>
    </div>
  </header>

  <% include _notify %>

  <aside class="l-notify">
    <a href="cha.html" class="bgcolor bgcolor-alt">
      【募集中】次回イベント: 茶LT（2015/9/12 @Kyoto）
    </a>
  </aside>

  <nav class="l-nav">
    <div class="l-container">
      <p>これまでの大LT</p>
      <ul>
        <li>
          <a href="haru.html">
            <span class="number">春</span>
            <span class="place">@Tokyo</span>
          </a>
        </li>
        <li>
          <a href="bon.html">
            <span class="number">盆</span>
            <span class="place">@Tokyo</span>
          </a>
        </li>
        <li>
          <a href="cha.html">
            <span class="number">茶</span>
            <span class="place">@Kyoto</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <section class="l-section">
    <div class="l-container rule">
      <h2>ルール</h2>
      <ol class="lg">
        <li>発表する人は前に立つ</li>
        <li>5分間なんか喋る</li>
        <li>5分経ったら終了（流れで質疑応答タイム）</li>
        <li>つぎの発表者に交替</li>
      </ol>
      <p>これを勢い良く繰り返す</p>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container faq">
      <h2>FAQ</h2>

      <div class="faq-item">
        <h3>LTとは何ですか？</h3>
        <p>ライトニングトーク（以下LT）は5分間でなんか喋るプレゼンです。</p>
      </div>

      <div class="faq-item">
        <h3>なぜLTまつりを開催しているのですか？</h3>
        <p>LTを体験してほしいからです。世間的には、LTは主に技術系のカンファレンスや勉強会で催されますが、いかんせんエンジニア文化なので、そうでない方には馴染みがないと思います。大LTまつりは非エンジニアに向けてLTを体験してみませんかという意図で行っています。（<a href="http://memo.sanographix.net/post/118010857975">もうちょい詳しく</a>）</p>
      </div>

      <div class="faq-item">
        <h3>どんな雰囲気ですか？</h3>
        <p>この記事の末尾に参加者の感想リンクがありますので参考にしてください: <a href="http://memo.sanographix.net/post/126954720715">http://memo.sanographix.net/post/126954720715</a></p>
      </div>

      <div class="faq-item">
        <h3>何を発表すればいいですか？</h3>
        <p>なんでもいいです。5分間で話し終わる内容であればジャンル問いません。真面目な発表である必要もありません。</p>
      </div>

      <div class="faq-item">
        <h3>“大”規模なイベントなのですか？</h3>
        <p>大というのは気概が大という意味です。規模は小規模です。</p>
      </div>

      <div class="faq-item">
        <h3>発表する自信がないのですが</h3>
        <p>人前で喋ることに慣れるためにやっているイベントですし、べつに失敗しても誰も怒ったりしないので安心しましょう。</p>
      </div>

    </div>
  </section>

  <section class="l-section bgcolor" id="join">
    <div class="l-container">
      <h2>大LTまつりに参加する</h2>
      <p>カモンジョイアス</p>
      <a class="btn btn-large btn-wh" href="http://dai-lt.connpass.com/">大LTに参加する</a>
    </div>
  </section>

<% include _footer %>