  <section class="l-section bgcolor" id="join">
    <div class="l-container">
      <h2>大LTまつりに参加する</h2>
      <a class="btn btn-large btn-wh" href="http://dai-lt.connpass.com/">大LTに参加する</a>
    </div>
  </section>

  <section class="l-section globalfooter">
    <div class="l-container">
      <p>主催: <a href="https://twitter.com/sanographix">@sanographix</a></p>
    </div>
  </section>

  <script type="text/javascript" src="http://fast.fonts.net/jsapi/f6b1a20b-d617-4f3f-b34c-0cf0dbd2d2d9.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="build/js/scripts.js"></script>

  <!-- Facebook SDK -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>