  <nav class="l-nav">
    <div class="l-container">
      <p>これまでの大LT</p>
      <ul>
        <li>
          <a href="haru.html">
            <span class="number">春</span>
            <span class="place">@Tokyo</span>
          </a>
        </li>
        <li>
          <a href="bon.html">
            <span class="number">盆</span>
            <span class="place">@Tokyo</span>
          </a>
        </li>
        <li>
          <a href="cha.html">
            <span class="number">茶</span>
            <span class="place">@Kyoto</span>
          </a>
        </li>
        <li>
          <a href="sei.html">
            <span class="number">聖</span>
            <span class="place">@Tokyo</span>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="cha2.html">
            <span class="number">茶2</span>
            <span class="place">@Kyoto</span>
          </a>
        </li>
        <li>
          <a href="golden.html">
            <span class="number">金</span>
            <span class="place">@Tokyo</span>
          </a>
        </li>
        <li>
          <a href="sake.html">
            <span class="number">酒</span>
            <span class="place">@Osaka</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
