<% var
pageTitle = "盆LT";
pageId = "bon";
pageUrl = "bon.html";
pageDescription = "大LTまつりはライトニングトーク大会である";
%>
<% include _header %>

  <header class="l-hero l-section bgcolor">
    <div class="l-container">
      <h1>盆LT</h1>
      <h2>大LTまつり#2「盆LT」  @Tokyo</h2>
      <p>2015/08/15 Sat. 15:00-18:00</p>
    </div>
  </header>

  <% include _notify %>

  <% include _nav %>

  <section class="l-section">
    <div class="l-container overview">
      <h2>開催概要</h2>
      <dl class="dl">
        <dt>場所</dt>
        <dd>株式会社 studioNAS</dd>
        <dt>Twitterハッシュタグ</dt>
        <dd><a href="https://twitter.com/search?q=%23%E7%9B%86LT">#盆LT</a></dd>
        <dt>募集ページ</dt>
        <dd><a href="http://dai-lt.connpass.com/event/16051/">http://dai-lt.connpass.com/event/16051/</a></dd>
      </dl>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container report">
      <h2>レポート</h2>
      <p>参加者の感想です</p>
      <ul class="lg">
        <ul><li><a href="http://suito-memo.tumblr.com/post/126808938743/%E7%9B%86lt%E3%81%AB%E5%8F%82%E5%8A%A0%E3%81%97%E3%81%9F" target="_blank">盆LTに参加した - すいめも</a></li>
        <li><a href="http://fundamemo.tumblr.com/post/126757116777/%E7%9B%86lt%E3%81%AB%E5%8F%82%E5%8A%A0%E3%81%97%E3%81%9F" target="_blank">盆LTに参加した - fundamemo</a></li>
        <li><a href="http://kasumidyaya.net/post/126887673556/bon-lt" target="_blank">盆LTにオーディエンスとして行ってきた- note::</a></li>
        <li><a href="http://thleap.net/blog/make-it-with-member/" target="_blank">誰と作るデザイン - thleap.net</a></li>
        <li><a href="http://memo.brdr.jp/post/126977144926/%E7%9B%86lt%E8%A1%8C%E3%81%A3%E3%81%9F" target="_blank">盆LT行った - Memo/</a></li>
        <li><a href="http://sekkamemo.tumblr.com/post/127088835134" target="_blank">sekka.days — 盆LTに参加した</a></li>
      </ul>
    </div>
  </section>

<% include _footer %>