<% var
pageTitle = "茶LT";
pageId = "cha";
pageUrl = "cha.html";
pageDescription = "大LTまつりはライトニングトーク大会である";
%>
<% include _header %>

  <header class="l-hero l-section bgcolor">
    <div class="l-container">
      <h1>茶LT</h1>
      <h2>大LTまつり#3「茶LT」 @Kyoto</h2>
      <p>2015/09/12 Sat. 14:30-17:00</p>
    </div>
  </header>

  <% include _notify %>

  <% include _nav %>

  <section class="l-section">
    <div class="l-container overview">
      <h2>開催概要</h2>
      <dl class="dl">
        <dt>場所</dt>
        <dd>キャンパスプラザ京都 2F和室</dd>
        <dt>Twitterハッシュタグ</dt>
        <dd><a href="https://twitter.com/search?q=%23%E8%8C%B6LT">#茶LT</a></dd>
        <dt>募集ページ</dt>
        <dd><a href="http://dai-lt.connpass.com/event/19106/">http://dai-lt.connpass.com/event/19106/</a></dd>
      </dl>
    </div>
  </section>

<% include _footer %>