<% var
pageTitle = "茶LT2";
pageId = "cha";
pageUrl = "cha2.html";
pageDescription = "大LTまつりはライトニングトーク大会である";
%>
<% include _header %>

  <header class="l-hero l-section bgcolor">
    <div class="l-container">
      <h1>茶LT2</h1>
      <h2>大LTまつり#5「茶LT2」 @Kyoto</h2>
      <p>2016/04/30 Sat. 14:30-17:00</p>
    </div>
  </header>

  <% include _notify %>

  <% include _nav %>

  <section class="l-section">
    <div class="l-container overview">
      <h2>開催概要</h2>
      <dl class="dl">
        <dt>場所</dt>
        <dd>キャンパスプラザ京都 2F和室</dd>
        <dt>Twitterハッシュタグ</dt>
        <dd><a href="https://twitter.com/search?q=%23%E8%8C%B6LT2">#茶LT2</a></dd>
        <dt>募集ページ</dt>
        <dd><a href="http://dai-lt.connpass.com/event/28888/">http://dai-lt.connpass.com/event/28888/</a></dd>
      </dl>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container report">
      <h2>レポート</h2>
      <p>参加者の感想です</p>
      <ul class="lg">
        <li><a href="http://bricolage.bz/?p=1139">茶LT2参加してきた | bricolage.bz</a></li>
        <li><a href="http://hakuho01.tumblr.com/post/143678096682/%E8%8C%B6lt2-%E3%81%AB%E5%8F%82%E5%8A%A0%E3%81%97%E3%81%A6%E3%81%8D%E3%81%BE%E3%81%97%E3%81%9F">#茶LT2 に参加してきました。 - 九皐に鳴く。</a></li>
        <li><a href="http://mitsuya0.tumblr.com/post/143681919262/%E8%8C%B6lt2%E3%81%AB%E5%8F%82%E5%8A%A0%E3%81%97%E3%81%BE%E3%81%97%E3%81%9F">茶LT2に参加しました - MeM0</a></li>
        <li><a href="http://dd-otsu.tumblr.com/post/143709768546">茶LT2 - dd_otsuさん</a></li>
        <li><a href="http://garbage.1natsu.net/post/143746633035/%E8%8C%B6lt2%E3%81%AB%E5%8F%82%E5%8A%A0%E3%81%97%E3%81%BE%E3%81%97%E3%81%9F">茶LT2に参加しました - ヒトナツログ</a></li>
        <li><a href="http://hatsuka.info/event/chalt2">茶LT♨に参加した話 - hatsuka</a></li>
      </ul>
    </div>
  </section>

<% include _footer %>