<% var
pageTitle = "金（ゴールデン）LT";
pageId = "golden";
pageUrl = "golden.html";
pageDescription = "大LTまつりはライトニングトーク大会である";
%>
<% include _header %>

  <header class="l-hero l-section bgcolor">
    <div class="l-container">
      <h1>金LT</h1>
      <h2>大LTまつり#6「金（ゴールデン）LT」  @Tokyo</h2>
      <p>2016/05/01 Sun. 15:00-18:00</p>
    </div>
  </header>

  <% include _notify %>

  <% include _nav %>

  <section class="l-section">
    <div class="l-container overview">
      <h2>開催概要</h2>
      <dl class="dl">
        <dt>場所</dt>
        <dd>株式会社 studioNAS</dd>
        <dt>Twitterハッシュタグ</dt>
        <dd><a href="https://twitter.com/search?f=tweets&q=%23%E9%87%91LT">#金LT</a></dd>
        <dt>募集ページ</dt>
        <dd><a href="http://dai-lt.connpass.com/event/29481/">http://dai-lt.connpass.com/event/29481/</a></dd>
      </dl>
    </div>
  </section>

<!--
  <section class="l-section">
    <div class="l-container report">
      <h2>レポート</h2>
      <p>参加者の感想です</p>
      <ul class="lg">
      <li><a href="http://memo.sanographix.net/post/136155379775" target="_blank">俺たちのクリスマス #聖LT - MEMOGRAPHIX</a></li>
      <li><a href="http://kasumidyaya.net/post/136047050281/saintlt" target="_blank">聖LT行ってきた - note::</a></li>
      <li><a href="http://iscreeeeam.hateblo.jp/entry/2015/12/30/173345" target="_blank">聖LTでLTさせていただく - bftk</a></li>
      <li><a href="http://tuna-can.tumblr.com/post/136084039900/%E8%81%96lt" target="_blank">聖LT - tuna-can</a></li>
      <li><a href="http://398log.tumblr.com/post/136256963575/%E8%81%96lt%E3%81%AB%E5%8F%82%E5%8A%A0%E3%81%97%E3%81%BE%E3%81%97%E3%81%9F" target="_blank">聖LTに参加しました - SAKUYA</a></li>
      </ul>
    </div>
  </section>
-->

<% include _footer %>