<% var
pageTitle = "春の大LTまつり";
pageId = "haru";
pageUrl = "haru.html";
pageDescription = "大LTまつりはライトニングトーク大会である";
%>
<% include _header %>

  <header class="l-hero l-section bgcolor">
    <div class="l-container">
      <h1>春LT</h1>
      <h2>大LTまつり#1「春の大LTまつり」 @Tokyo</h2>
      <p>2015/05/02 15:00-18:00</p>
    </div>
  </header>

  <% include _notify %>

  <% include _nav %>

  <section class="l-section">
    <div class="l-container overview">
      <h2>開催概要</h2>
      <dl class="dl">
        <dt>場所</dt>
        <dd>表参道の貸し会議室</dd>
        <dt>Twitterハッシュタグ</dt>
        <dd><a href="https://twitter.com/search?q=%23%E6%98%A5%E3%81%AE%E5%A4%A7LT%E3%81%BE%E3%81%A4%E3%82%8A">#春の大LTまつり</a></dd>
        <dt>募集ページ<dt>
        <dd>※公募せず招待制で開催しました</dd>
      </dl>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container report">
      <h2>レポート</h2>
      <p>参加者の感想です</p>
      <ul class="lg">
        <li><a href="http://memo.sanographix.net/post/118010857975" target="_blank">春の大LTまつり開催した #春の大LTまつり - MEMOGRAPHIX</a></li>
        <li><a href="http://iscreeeeam.hateblo.jp/entry/2015/05/02/194313" target="_blank">春の大LTまつり参加してきた - bftk</a></li>
        <li><a href="http://kakkanc.tumblr.com/post/118035906601/lt" target="_blank">LT大会感想 - 色々なものを置く場所</a></li>
        <li><a href="http://suito-memo.tumblr.com/post/118033360173/lt" target="_blank">春の大LTまつりに参加した - すいめも</a></li>
        <li><a href="http://asymmemo.tumblr.com/post/118369994610/lt" target="_blank">春の大LTまつりに参加させていただいた話 - asymmate_memo</a></li>
        <li><a href="http://178mg.inabap.com/post/118519552645/lt" target="_blank">春の大LTまつりに参加しました - 178mg</a></li>
      </ul>
    </div>
  </section>


<% include _footer %>