<% var
pageTitle = "酒LT";
pageId = "sake";
pageUrl = "sake.html";
pageDescription = "大LTまつりはライトニングトーク大会である";
%>
<% include _header %>

  <header class="l-hero l-section bgcolor">
    <div class="l-container">
      <h1>酒LT</h1>
      <h2>大LTまつり すぴんおふ「酒LT」 @Osaka</h2>
      <p>2016/11/12 Sat. 14:30-21:00</p>
    </div>
  </header>

  <% include _notify %>

  <% include _nav %>

  <section class="l-section">
    <div class="l-container overview">
      <h2>開催概要</h2>
      <dl class="dl">
        <dt>Twitterハッシュタグ</dt>
        <dd><a href="https://twitter.com/search?q=%23%E9%85%92LT">#酒LT</a></dd>
        <dt>募集ページ</dt>
        <dd><a href="http://dai-lt.connpass.com/event/41834/">http://dai-lt.connpass.com/event/41834/</a></dd>
      </dl>
    </div>
  </section>

<% include _footer %>
